<%%= link_to "Adicionar #{<%= @settings[:model] %>.model_name.human}", new_<%= @settings[:path_prefix] %><%= @settings[:assigns] %>_path() %>

<table>
  <thead>
  <% @settings[:model_fields].each do |field| %>
    <th><%%= <%= @settings[:model] %>.human_attribute_name(:<%= field %>)%></th>
  <% end -%>

    <th>&nbsp;</th>

    <th>&nbsp;</th>

  </thead>
  <tbody>
    <%%= render(partial: '<%= @settings[:assigns] %>', collection: @<%= @settings[:plural] %>) || render(partial: 'no_data', locals: {colspan_number: <%= @settings[:model_fields].size + 2%>})%>
  </tbody>
</table>