<header class='navbar row'>
  <h1 class="two columns logo">
    <%= link_to image_tag('logo.png'), root_path %>
  </h1>

  <nav class='eight columns'>
    <ul>
      <li><%= link_to "Link 01", 'javascript://' %></li>
      <li><%= link_to "Link 02", 'javascript://' %></li>
      <li><%= link_to "Link 03", 'javascript://' %></li>
      <li><%= link_to "Link 04", 'javascript://' %></li>
      <li><%= link_to "Link 05", 'javascript://' %></li>
    </ul>
  </nav>
</header>

